html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 3fr 2fr 1fr / repeat(3, 1fr);
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
